.header-logo img {
  height: 120px;
  width: auto;
}

.header-logo img.d-sm-none {
  height: 34px;
  width: auto;
}

.hero-banner h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  padding: 0;
  line-height: 1;
}

.hero-banner p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.hero-banner > .container {
  padding: 0;
}

.hero-banner.large-banner {
  min-height: 675px;
  display: flex;
  align-items: center;
  position: relative;

  .hero-text {
    background-image: linear-gradient(90deg, #824d9d, #368bbe, #60a361);
  }
}

.hero-banner.icon-banner {
  min-height: 350px;
  display: flex;
  align-items: center;
  background-color: #f7f8f9;
  position: relative;

  h1 {
    color: $brown;
  }

  p {
    color: $brown;
  }
}

.mob-head-img-wrap {
  min-height: 134px;
}

img.banner-icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.header-top-small {
  background-color: #2a313a;
}

.header-top-small .header-container {
  max-width: 1320px;
}

.header-top-small a:hover {
  opacity: 0.8;
}

.hero-banner.medium-banner {
  min-height: 675px;
  display: flex;
  align-items: center;
  background-color: #f7f8f9;
  position: relative;

  .hero-text {
    background-color: #f7f8f9;
  }

  h1 {
    color: $brown;
  }

  p {
    color: $brown;
  }
}

.hero-block {
  width: 100%;
}

.header-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-perspectives {
  max-width: 1410px;
  margin: 0 auto;
}

.navbar-expand-xl > .header-container {
  flex-wrap: nowrap;
}

.navbar {
  background-color: $background-color;
}

.navbar,
.navbar > .header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar > .header-container {
  max-width: 1320px;
}

a.header-search-icon.mr-3 {
  height: 30px;
  display: inline-block;
  padding-top: 1px;
}

.navbar > .header-container li.contact-us {
  display: none;
}

/* display contact us menu item on front page only */
.home .navbar > .header-container li.contact-us {
  display: block;
}

.home .banner .btn-brown-gradient {
  background: #2f8cca;
}

button.login-link {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;

  span {
    display: none;
  }

  svg {
    width: 16px;
  }
}

.full-width-banner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

body.careers .hero-banner.medium-banner {
  background-color: rgb(0 0 0 / 65%);
}

body.careers .hero-banner.medium-banner > .full-width-banner {
  opacity: 0.5;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Landing Pages hide header */
.single-lp .navbar,
.single-lp .breadcrumb {
  display: none !important;
}

/* Central Sign Up Page hide top area items */
body.page-id-200013 .navbar-collapse,
body.page-id-200013 .navbar-expand-xl .navbar-collapse,
body.page-id-200013 .dropdown,
body.page-id-200013 .breadcrumb {
  display: none !important;
}

@media (min-width: 576px) {
  .hero-banner .header-container {
    padding: 0;
  }

  .mob-header {
    position: relative;
  }
}

@media (min-width: 992px) {
  .hero-block {
    max-width: 700px;
  }

  .hero-banner.header-container {
    padding: 0 15px;
  }

  .hero-banner.medium-banner > .full-width-banner {
    height: 100%;
  }

  .hero-banner.medium-banner {
    min-height: 441px;
  }

  .mob-header {
    position: relative;
    top: unset;
    padding: unset;
  }

  .hero-description p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  img.banner-icon {
    height: 150px;
    width: auto;
    margin: unset;
  }

  .hero-banner.icon-banner {
    min-height: 200px;
  }

  .hero-banner.large-banner {
    min-height: 500px;
  }
}

@include media-breakpoint-up(lg) {

  button.login-link {
    border: 1px solid #cfcfcf;
    padding: 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;

    span {
      display: block;
    }

    svg {
      margin-right: 8px;
    }
  }
}
