
img.col-icon {
  height: 80px;
  width: auto;
}

img.object-fit {
  width: 100%;
  object-fit: cover;
}

.quarter-text {
  max-width: 550px;
  margin: auto;
}

img.three-col-icon {
  width: auto;
  min-height: 80px;
  max-width: 80px;
}

img.col-block {
  height: 234px;
  object-fit: cover;
}

section.gradient-corp {
  background-color: transparent;
}

section.block-in-numbers,
section.banner-simple-location  {
  color: #6b635e;

  h2 {
    color: #6b635e;
  }

  h3 {
    font-size: 2.25rem;
    font-weight: 600;
    color: #6b635e;
  }

  p {
    color: #6b635e;
  }
}

.border-col > .col-md-4,
.border-col > .col-md-3 {
  border-bottom: 1px solid #a7a8a9;
}

.border-col > .col-md-4:last-child,
.border-col > .col-md-3:last-child {
  border: 0;
}

img.slick-slide {
  padding: 0 15px;
}

section.block-products-grid button {
  color: $brown;
  border: none;
  background: none;
  padding: 0;

  &:focus {
    outline: none;
    background: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

section.block-products-grid .col-lg-4:last-child { 
  margin-bottom: 0 !important; 
}

.bottom-border::before {
  content: " ";
  width: 81%;
  height: 1px;
  background: #444444;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.side-border::after {
  content: " ";
  width: 10px;
  height: 90%;
  background-image: url('../../images/vertical_border.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@include media-breakpoint-up(md) {

  .border-col > .col-md-4,
  .border-col > .col-md-3 {
    border-right: 1px solid #a7a8a9;
    border-bottom: 0;
  }

  section.block.block-in-numbers h3 {
    font-size: 1.875rem;
    color: #6b635e;
  }

  .col-md-3.bottom-border:nth-child(-n+4)::before,
  .col-md-4.bottom-border:nth-child(-n+3)::before {
    background: transparent !important;
  }

  .col-md-3.side-border:nth-child(4)::after,
  .col-md-3.side-border:nth-child(8)::after,
  .col-md-4.side-border:nth-child(3)::after,
  .col-md-4.side-border:nth-child(6)::after {
    background: transparent !important;
  }
}


@include media-breakpoint-up(lg) {
  img.object-fit {
    height: auto;
  }

  .full-width-banner-cta {
    position: absolute;
    max-height: 500px;
    overflow: hidden;
    z-index: 0;
  }

  .card-content-wrapper::after {
    width: 1px;
    height: 60%;
    top: 80px;
    bottom: 0;
    background: #c6c6de;
  }

  .card-content-wrapper::before,
  .card-content-wrapper::after {
    content: " ";
    display: block;
    position: absolute;
    margin: auto;
    right: 0;
  }

  section.block.block-in-numbers h3 {
    font-size: 2.25rem;
    color: #6b635e;
  }
}
