section#blog-grid {
  background-color: #f2f3f5;
}

.mimeo_loadmore {
  background-color: #ddd;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.mimeo_loadmore:hover {
  background-color: #767676;
  color: #fff;
}

img.size-blog-block {
  height: 170px;
  object-fit: cover;
  width: 100%;
}

img.fixed-image {
  // box-shadow: -15px 4px 24px 7px #ddddddb3;
  height: 100%;
  padding: 0;
  right: -20%;
  width: auto;
  bottom: 20px;
  margin-top: -8%;
}

img.news-about {
  width: 175px;
}

img.size-product-block {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.blog-bloc-wrapper {
  background-color: white;
  height: 100%;
}

section.block h2.blog-grid-title {
  font-size: 1.375rem;
  margin-bottom: 15px;
  margin-top: 8px;
  text-align: left;
}

.post-card-content p {
  font-size: 1rem;
}

.post-card-content a {
  color: $brown;
}

h2.entry-title {
  font-size: 1.125rem;

  a {
    color: $brown;
  }
}

.block.block-dynamic-accordion a {
  text-align: center;
}

.block.block-dynamic-accordion img.size-blog-block {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.single-case_studies header {
  display: none;
}

header h2 {
  font-size: 1rem;
  font-weight: 600;
}

section.widget h3,
footer h3, 
section.widget h2,
footer h2 {
  font-size: 1.1875rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

section.widget.categories-2.widget_categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img.rpwe-alignleft.rpwe-thumb {
  max-width: 45px;
}

section.widget {
  margin-bottom: 20px;
}

h3.rpwe-title::before {
  display: none;
}

.single.single-kb .main img  {
	width: 800px;
	padding-bottom: 10px;
}

.single.single-kb .main ol  {
	padding-left: 30px; 
}

.single.single-kb .main h2  {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

@media (max-width: 990px) {
  img.fixed-image {
    height: 100%;
    padding: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    margin-top: 0;
  }
}
