// Variables for common values
$btn-padding: 9px 35px 7px 10px;
$btn-radius: 5px;
$btn-transition: 0.3s;

$color-brown-bg: #004a98;
$color-brown-text: #b9d6f2;
$color-brown-hover-bg: #e5e1e6;
$color-brown-active-bg: #e6d9e9;
$color-brown-shadow: rgba(227, 231, 228, 0.5);

$color-gray-bg: #b9d6f2;
$color-gray-text: #004a98;
$color-gray-hover-bg: #004a98;
$color-gray-shadow: rgba(213, 216, 214, 0.5);

$color-link-text: #81755f;
$color-link-hover-text: #7c6d52;
$color-link-active-text: #7c6d52;
$color-link-shadow: rgba(182, 190, 198, 0.5);

$arrow-brown: url('../../images/arrow_brown_right.svg');
$arrow-beige: url('../../images/arrow_beige_right.svg');
$arrow-height: auto;
$arrow-width: 16px;
$arrow-position-right: 10px;
$arrow-position-top: 8px;

.btn {
  padding: $btn-padding;
  border-radius: $btn-radius;
  transition: background-color $btn-transition;
  position: relative; // Ensure the button is the reference for the ::after position
  font-weight: 300;
  line-height: 1;

  &.btn-brown {
    background-color: $color-brown-bg;
    color: $color-brown-text;
    padding-right: 35px;

    &::after {
      content: $arrow-beige;
      height: $arrow-height;
      width: $arrow-width;
      position: absolute;
      right: $arrow-position-right;
      top: $arrow-position-top;
    }

    &:hover {
      background-color: $color-brown-hover-bg;
      color: $color-gray-text;

      &::after {
        content: $arrow-brown;
      }
    }

    &:active {
      background-color: $color-brown-active-bg;
    }

    &:focus {
      box-shadow: 0 0 5px 2px $color-brown-shadow;
    }
  }

  &.btn-gray {
    background-color: $color-gray-bg;
    color: $color-gray-text;
    padding-right: 35px;

    &::after {
      content: $arrow-brown;
      height: $arrow-height;
      width: $arrow-width;
      position: absolute;
      right: $arrow-position-right;
      top: $arrow-position-top;
    }

    &:hover {
      background-color: $color-gray-hover-bg;
      color: $color-gray-bg;

      &::after {
        content: $arrow-beige;
      }
    }

    &:active {
      background-color: $color-gray-hover-bg;
    }

    &:focus {
      box-shadow: 0 0 5px 2px $color-gray-shadow;
    }
  }

  &.btn-link {
    background-color: transparent;
    color: $color-link-text;
    padding: 0 40px 0 0;
    border: none;
    font-weight: 500;
    font-style: italic;

    &::after {
      content: $arrow-brown;
      height: $arrow-height;
      width: $arrow-width;
      position: absolute;
      right: $arrow-position-right;
      top: 0;
    }

    &:hover {
      color: $brown;
    }

    &:active {
      color: $brown;
    }

    &:focus {
      box-shadow: 0 0 5px 2px $color-link-shadow;
    }
  }

  // White button with blue hover
  &.btn-white-blue {
    background-color: white !important;
    color: #6b645e !important;
    border: 2px solid #6b645e !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: #0d6efd !important;
      color: white !important;
      border-color: #0d6efd !important;
    }
  }
}
