.m-card-wrapper {
  border: 1px solid;
  text-align: center;

  h3 {
    font-size: $font-size-normal;
  }
}

.m-card-head {
  background: #39404a;
}

.m-card-body img {
  max-width: 70px;
  height: auto;
  margin: 10px 0 15px;
}

.central-signup .m-card-body img {
  width: auto;
  height: 40px;
  padding-bottom: 10px;
  max-width: fit-content;
}

.m-card-head h2 {
  text-align: center;
  font-size: 18px;
  padding: 6px 0;
  color: white;
}

.m-card-wrapper.corporate-card {
  border-color: $mimeo-blue;
  background-color: $mimeo-blue-light;
  height: 100%;

  .m-card-head {
    background: unset;
    background-image: linear-gradient(90deg, #824d9d, #368bbe, #60a361);
  }

  a.button {
    border-color: $mimeo-blue;
  }
}

.m-card-wrapper.print-card {
  border-color: $mimeo-blue;
  background-color: $mimeo-blue-light;

  .m-card-head {
    background: $mimeo-blue;
  }

  a.button {
    border-color: $mimeo-blue;
  }
}

.m-card-wrapper.digital-card {
  border-color: $mimeo-purple;
  background-color: $mimeo-purple-light;

  .m-card-head {
    background: $mimeo-purple;
  }

  a.button {
    color: $mimeo-purple;
  }
}

.m-card-wrapper.marketplace-card {
  border-color: $mimeo-green;
  background-color: $mimeo-green-light;

  .m-card-head {
    background: $mimeo-green;
  }

  a.button {
    color: $mimeo-green;
  }
}

.m-card-wrapper.generic-card {
  border-color: #39404a;

  .m-card-head {
    background: #39404a;
  }

  a.button {
    border-color: #39404a;
  }
}

h2.card-title {
  font-size: 1rem;
  font-weight: 600;
  min-height: 48px;
}

.card-text.pb-3 {
  min-height: 119px;
}

// accordion cards
.card {
  border-bottom: 1px solid rgb(0 0 0 / 12.5%) !important;
}

button p {
  margin: 0;
}

button.card-btn-link:hover {
  color: #888;
}

.faq-content.card-body p {
  margin: 0;
}

a.btn.card-btn-link p {
  margin: 0;
}

[data-bs-toggle="collapse"] .fa::before {
  content: "\f068";
  font-size: 13px;
}

[data-bs-toggle="collapse"].collapsed .fa::before {
  content: "\f067";
  font-size: 13px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
    column-gap: 2.5rem;
    orphans: 2;
    widows: 1;
  }
}

.card-columns > .card {
  background: transparent;
  border: 0 !important;
}

img#__lpform_FirstName_icon {
  display: none;
}
