th {
  font-size: 16px;
  font-weight: 400;
}

td {
  text-align: center;
}

.thead-light tr {
  text-align: center;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;
}

img.table-icon {
  width: 20px;
}

img.table-icon.icon-blue {
  filter: invert(55%) sepia(65%) saturate(396%) hue-rotate(163deg) brightness(98%) contrast(81%);
}
img.table-icon.icon-red {
  filter: invert(49%) sepia(9%) saturate(2531%) hue-rotate(314deg) brightness(90%) contrast(82%);
}
