html,
body {
  scroll-behavior: xsooth;
  font-weight: 300;
  font-size: 1rem;
  font-family: $font-family; 
  background: $background-color;
  text-rendering: geometricprecision;
  color: $brown;
  font-display: swap;
  color: #6b635e;
  overflow-x: hidden;
}

p, 
div {
  font-weight: 400;
  color: #6b635e;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family; 
  color: #6b635e;
}

.text-brown {
  color: #6b635e;
}

a {
  text-decoration: none !important;
  font-weight: 300;
}

img {
  height: auto;
  width: 100%;
}

.desktop-break {
  @include media-breakpoint-up(lg) {
    display: block;
  }
  display: none;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-700 {
  max-width: 700px;
}

.container-1320 {
  max-width: 1320px;
}

.grey-bg {
  background: #f2f3f5;
}

.white-bg {
  background: #ffffff;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.fs-35 {
  font-size: 3.5rem;
}

@include media-breakpoint-up(lg) {
  .border-end-custom {
    position: relative;
  }
  
  .border-end-custom::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 3px; /* Adjust width if necessary */
    height: 90%;
    background-image: url('../../images/vertical_border_long.svg');
    background-repeat: no-repeat;
    background-size: cover; /* Adjust to fit the SVG's dimensions */
  }

  .border-end-custom:last-child {
    border-right: none;
  }
}