@import "bootstrap";
@import "common/variables";
@import "common/fonts";
@import "common/global";
@import "components/blocks";
@import "components/buttons";
@import "components/animations";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/menu";


#main {
    padding-top: 96px;

    @include media-breakpoint-up(lg) {
        padding-top: 140px;
    }
}

.hotspots-interaction {
    margin: 0 !important;
}

// White button with blue hover
.btn-white-blue {
    background-color: white !important;
    color: #6b645e !important;
    border: 2px solid #6b645e !important;
    transition: all 0.3s ease;

    &:hover {
        background-color: #0d6efd !important;
        color: white !important;
        border-color: #0d6efd !important;
    }
}